root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript / React / JSON / CSS / HTML
[*.{js,jsx,ts,tsx,json,css,scss,html}]
indent_style = space
indent_size = 2

# Python / Django
[*.py]
indent_style = space
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false