button {
  border: none;
  font: inherit;
  cursor: pointer;
}

.mini {
  width: 80px;
  padding: 0.3rem;
  border: 1px solid white;
  background: transparent;
  transition: background 0.2s ease;
  margin: 0.2rem;
  &:hover {
    background: #fff;
  }
}