@use '../../styles/base/index.scss' as mix;

header {
  width: 100%;
  @include mix.flex-row ($just: space-between);
  padding: 0 2rem;
  background-color: #310101;
  height: 70px;
}



.logo {
  color: antiquewhite;
  font-size: 1.3rem;
  transition: color 0.5s ease;
  &:hover {
    color: rgb(255, 166, 49);
  }
}

.personalizationWrapper {
  @include mix.flex-row();
}

@include mix.mobile {
  .personalizationWrapper {
    display: none;
  }
}